
@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

#root {
  min-height: 100vh;
}
.main{
  max-width: 800px;
  margin: auto;
  background-color: aqua;
  text-shadow: #222;
  color: rgb(4, 28, 165);
}