
@import "tailwindcss";

.main{
  max-width: 100px;
  margin: auto;
  background-color: rgb(156, 241, 241);
  text-shadow: #222;
  color: rgb(148, 161, 231);
}
.row{
  width: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.cardItems{
  flex-basis: 23%;
  background-color: rgb(163, 231, 208);
  margin: 1%;
  height: 100px;
}