
@import "tailwindcss";

.main{
  max-width: 800px;
  margin: auto;
  background-color: aqua;
  text-shadow: #222;
  color: rgb(4, 28, 165);
}
.row{
  width: 1320px;
  margin: auto;
  display: flex;
}
.cardItems{
  flex-basis: 23%;
  background-color: aquamarine;
  margin: 1%;
  height: 200px;
}